<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/stone/stone-lists"></ion-back-button>
    </ion-buttons> -->
    <ion-title>Mon profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">

  <div *ngIf="user">
    <!-- <div [innerHTML]="user.photo"></div> -->
    <div class="header">
      <h2>{{ user.fullname }}</h2>
    </div>
    <div class="flex">
      <div class="border-color">
        <div class="border-white">
          <ion-avatar>
            <img [src]="user.photo" [style.width]="'100%'" *ngIf="user.photo">
          </ion-avatar>
        </div>
      </div>
    </div>




    <!-- <div [innerHTML]="user.nom"></div> -->
    <ion-list>
      <ion-list-header>

      </ion-list-header>
      <ion-label>
        <p>Prénom : {{ user.prenom }}</p>
      </ion-label>
      <ion-label>
        <p>Nom : {{ user.nom }}</p>
      </ion-label>
      <ion-label>
        <p>Login : {{ user.userlogin }}</p>
      </ion-label>
      <ion-label>
        <p>E-mail : {{ user.email }}</p>
      </ion-label>
      <ion-label>
        <p>Date de création : {{ user.created_at }}</p>
      </ion-label>

      <!-- <ion-label>
        <p>Bag : {{ user.user_stone }}</p>
      </ion-label> -->
    </ion-list>

  </div>
  <ion-card *ngFor="let stone of user?.user_stone">
    <p>Bag : {{ stone.title }}</p>
  </ion-card>

  <!-- <ion-item>
    <ion-label position="floating">My comment</ion-label>
    <ion-textarea rows="5" [(ngModel)]="newComment"></ion-textarea>
  </ion-item>
  <ion-button expand="full" (click)="addComment()" [disabled]="newComment == ''">Add comment</ion-button> -->

  <!-- <ion-list>
    <ion-list-header>
      <ion-label>Comments</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let com of comments">
      <ion-avatar slot="start">
        <img [src]="com.author_avatar_urls['96']">
      </ion-avatar>
      <ion-label>
        <h2>{{ com.author_name }}</h2>
        <p [innerHTML]="com.content.rendered"></p>
      </ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>

<ion-footer>
  <!-- <ion-toolbar color="primary"> -->
  <!-- <ion-button color="light" expand="full" fill="clear" (click)="sharePost()">
      <ion-icon name="share" slot="start"></ion-icon> Share
    </ion-button> -->
  <!-- </ion-toolbar> -->
</ion-footer>