<ion-header>
  <ion-toolbar>
    <ion-title>Stone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment id="positionInitiale" value="map" (ionChange)="onFilterUpdate($event)" [(ngModel)]="segmentModel">
    <ion-segment-button value="map">
      <ion-label>Stones's map</ion-label>
    </ion-segment-button>
    <ion-segment-button value="stones-list">
      <ion-label>Stones's list</ion-label>
    </ion-segment-button>
  </ion-segment>


  <div id="mapId" style="width: 100%; height: 93%"></div>






  <div *ngIf="segmentModel === 'stones-list'">
    <div *ngIf="totalStones > 0" class="ion-text-center ion-padding">
      Found {{ totalStones }}
    </div>

    <ion-card *ngFor="let stone of stones">
      <ion-card-header>
        <ion-card-title [innerHTML]="stone.title"></ion-card-title>
        <ion-card-subtitle>{{ stone.created_at  }}</ion-card-subtitle>
        <ion-label>
          latitude : {{ stone.latitude }}
        </ion-label>
      </ion-card-header>
      <ion-card-content>
        <img [src]="stone.photo" *ngIf="stone.photo" class="post-img">
        <!-- <div [innerHTML]="stone.excerpt.rendered"></div> -->
        <ion-button expand="full" fill="clear" [routerLink]="['/', 'tabs','stone','stones', stone.id]" text-right>Read
          More...</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>