body {
    padding: 0;
    margin: 0;
}

html,
body,
#mapId {
    //display: initial;
    height: 81%;
    width: 100%;
}

.hide {
    display: none !important;
}

// #mapId {
//     display: block;
// }